@use "../../../assets/sass/index.sass" as *

.news-container
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: auto
    padding-block: 1.5rem
    padding-inline: 21px 20px
    background: $space-blue
    margin-bottom: 4rem
    > h2
        color: $yellow
        margin-bottom: 35px

.news-content
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: auto

.news-texts
    display: flex
    flex-direction: column
    gap: 0.5rem
    padding-top: 31px
    padding-bottom: 29px
    border-bottom: 1px solid hsl(236, 13%, 42%)
    > h3
        color: $white
        font-weight: 800
    > p
        color: $silver

.news-texts:first-child
    padding-top: 0
.news-texts:last-child
    padding-bottom: 0
    border-bottom: none
